.boton {
    height: 3em;
    width: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text;
    transition: 0.2s;
    cursor: pointer;

}

.boton:hover{
    background-color: $white;
    transition: 0.2s;
}