.boton{
    display: flex;
}

.offText{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-grow: 0;
}

.navbar-light .navbar-toggler{
    border-color: transparent;
}
.fixed-top {
    position: sticky;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 1;
}