.layoutAdmin{
  height: 100vh;
}

.menuLeft .nav-left {
    color: #EEEEEE;
    display: flex;
    margin: 4em;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  .logout{
    font-size: 3em;
    color: $white;
  }
  .events{
    font-size: 3em;
    color: $white;
  }
  .chart{
    font-size: 3em;
    color: $white;
  }
  .users{
    font-size: 3em;
    color: $white;
  }
  .ant-layout-sider-children {
  height: 100%;
  padding-left: 6em;
  display: flex;
  flex-direction: column;
  }
}

.bodyProfileAdmin{
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 2em;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardProfileAdmin {
    display: flex;
    width: 22em;
    border-radius: 5px;
    color: white;
    background-color: $black;
    padding: 2em;
    font-size: medium;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em;
  //   .ant-avatar.ant-avatar-icon {
  //     font-size: 4em !important;
  // }
  }
  .vistaRight{
      display: flex;
      flex-direction: column;
  }
  .orderContent{
    display: flex;
    flex-direction: row;
    padding: 2em;
    overflow: scroll;
    flex-wrap: wrap;
    justify-content: center;
      .info{
        background: #221F1F;
        color: white;
        padding: 1em;
        width: 17em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .buttonDelete{
        background: red;
        border-radius: 1em;
        width: 9em;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
      }
  }

  .displayEvents{
    display: flex;
  }

 