
.vistaHome{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $azul;
    flex-wrap: wrap;
    width: 100vw;
    
} 

.text1 {
    color: #fafafa;
    font-size: 3em;
    font-weight: normal;
    width: 13em;
    animation-duration: 4s;
}
    
.custom-shape-divider-top-1629738537 {
    position: absolute;
    top: 4em;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1629738537 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 133px;
}

.custom-shape-divider-top-1629738537 .shape-fill {
    fill: #F8F9FA;
}

.mock{
    height: 55em;
    animation-duration: 30s;
}