
.vistaHome{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.text1{
    color: $black;
    color: #212121;
    font-size: 3em;
    width: 13em;
}
    
    
    